.info {
  display: block;
  position: absolute;
  width: 300px;
  height: auto;
  top: 140px;
  right: 60px;
  background-color: white;
  cursor: grab;
  border-radius: 4px;
  box-shadow: 5px 5px 10px -6px black;
  padding: 0 0 10px;
}

.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 0 10px;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px 4px 0 0;
}

.name {
  display: flex;
  justify-content: center;
  margin: 5px 0 10px;
  padding: 0 10px;
}

.close {
  position: absolute;
  cursor: pointer;
  padding: 4px 8px;
  top: 0;
  right: 0;
  font-weight: bold;
  color: gray;
  background: white;
  z-index: 1;
  opacity: .8;
  border-radius: 0 4px 0 4px;
}

.close:hover {
  opacity: 1;
}

.paragraph {
  font-size: .8rem;
  margin: 5px 0;
  padding: 0 10px;
}

.paragraph a:hover {
  text-decoration: underline;
}
