.info {
  display: block;
  position: absolute;
  width: 50vw;
  max-width: 500px;
  min-width: 400px;
  height: auto;
  top: 140px;
  left: 10px;
  background-color: white;
  cursor: grab;
  border-radius: 4px;
  box-shadow: 5px 5px 10px -6px black;
  padding: 0;
  max-height: calc(100vh - 170px);
  overflow-y: auto;
}

.close {
  position: absolute;
  cursor: pointer;
  padding: 4px 8px;
  top: 0;
  right: 0;
  font-weight: bold;
  color: gray;
  background: white;
  z-index: 1;
  opacity: .8;
  border-radius: 0 4px 0 4px;
}

.close:hover {
  opacity: 1;
}
