.component {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999999999;
}

.modal {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  overflow: auto;
  padding: 30px;
  box-sizing: border-box;
  z-index: 99999;
  outline: none;
  background: rgb(255 255 255 / 90%);
}

.frame {
  position: relative;
  margin: auto;
  width: auto;
  max-width: 80vw;
  min-height: 40px;
  background: white;
  box-shadow: 0 24px 80px rgb(0 0 0 / 12%);
  border-radius: 4px;
}

.close {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  z-index: 1;
  background: none;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
}

.close > svg {
  width: 40px;
  height: 40px;
  transform: scale(0.5) translate(-20px, -20px);
}

.close > svg > path {
  stroke: rgb(0 0 0 / 50%);
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}

.close:hover > svg > path {
  stroke: rgb(0 0 0 / 100%);
}

.content {
  overflow-x: auto;
}
