.component {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}

.logo {
  display: block;
  flex-shrink: 0;
  height: 46px;
  align-self: center;
  margin: 0 10px 0 0;
}

.logo img {
  display: block;
  height: 46px;
  width: 109px;
  margin: 0;
}

.controls {
  display: flex;
  align-items: center;
}

.button {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  height: 38px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0 10px 0 0;
  text-transform: uppercase;
  color: hsl(0, 0%, 20%);
  padding: 0 10px;
}

.button:hover {
  background-color: hsl(0, 0%, 95%);
}

.selector {
  align-self: center;
  width: 300px;
}
