.profile {
  margin: 0 0 20px;
}

.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 0 10px;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px 4px 0 0;
}

.name {
  display: flex;
  justify-content: center;
  margin: 5px 0 10px;
  padding: 0 10px;
}

.paragraph {
  font-size: .8rem;
  margin: 5px 20px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.paragraph:last-of-type {
  margin: 5px 20px 0;
}

.paragraph a:hover {
  text-decoration: underline;
}

.accordion .avatar {
  border-radius: 0;
  margin: 0 0 20px;
  height: 200px;
}
